# Environment
.env
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.code-workspace

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

Movies-Recommender-System/similarity.pkl